<h1>Create Comments</h1>
<div class="button"><%= link_to "Home", stories_path %></div>
<div class="container">
<%= form_with model: @comment, path: comments_path, method: :post do |f| %>
    <h2>Comments</h2>
  <%= f.hidden_field :story_id, value: @story.id %>
  <div class="form">
    <label>Content: </label>
    <%= f.text_area :content %>
  </div>
  <div class="form">
    <label>User: </label>
    <%= f.text_field :user %>
  </div>

  <%= f.submit "Add Comment", class: "button" %>
<% end %>
</div>