<div class="button"><%= link_to "Create Story", new_story_path%></div>

<h1>List of Posts</h1>
<div class="post">
<% @stories.each do |story| %>
  <h3><a href="<%= story.url %>" target=" _blank"><%= story['title'] %></a></h3>

  <h4><%= story.description %></h4>
  <p class="like"><%= button_to "ðŸ‘", story_path(story), method: :patch  %>  <span><%=story.upvotes %></span> Likes</p>
 <div class="button"><%= link_to "Show Comments", story_path(story)%></div>

<% end %>
</div>