<%= link_to "Home", stories_path %>
<h1><%= @story.user %></h1>
<h3><%= @story.title %></h3>
<h5><%= @story.description %></h5>
<%= link_to "Add Comments", new_comment_path(story_id: @story.id) %>


<div class="comment">
  <% @comments.each do |comment| %>
    <h3>Id:<%= comment.id %> <%= comment.user %></h3>
    <h4><%= comment.content %></h4>
    <h5><%= comment.created_at %></h5>
    <%= link_to "Add Responsive Comment", new_response_comment_path(comment_id: comment.id) %>

    <div class="response">
      <% response_comment = ResponseComment.where(comment_id: comment.id).order("created_at DESC") %>
      <% response_comment.each do |response| %>
        <div>
          <h2><%= response.user %></h2>
          <h5><%= response.content %></h5>
          <p><%= response.created_at %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
